In [2]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 44.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=f3503a026c93ffef2f140d3ec32e0b4071f8285ee2a176115dae8338e03f85b7
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('homework1').getOrCreate()
ssc=spark.sparkContext

In [5]:
x=['pizza','potato','frenchfries','hotdog','hamburger','egg','mashpotato','ghormesabzi',
   'loobiapolo','omlet','spagetty','pasta','kookoosabzi','chicken','kabab','soup','ash reshte','zereshkpolo'
   ,'kookoosibzamini', 'salad','noonpanir','khoreshte karafs','kashk bademjoon','salad olvie','kotlet','lazania','fish',
   'shrimp','kalampolo','khoreshte bamie','havijpolo']
rdd=ssc.parallelize(x)
rdd.collect()

['pizza',
 'potato',
 'frenchfries',
 'hotdog',
 'hamburger',
 'egg',
 'mashpotato',
 'ghormesabzi',
 'loobiapolo',
 'omlet',
 'spagetty',
 'pasta',
 'kookoosabzi',
 'chicken',
 'kabab',
 'soup',
 'ash reshte',
 'zereshkpolo',
 'kookoosibzamini',
 'salad',
 'noonpanir',
 'khoreshte karafs',
 'kashk bademjoon',
 'salad olvie',
 'kotlet',
 'lazania',
 'fish',
 'shrimp',
 'kalampolo',
 'khoreshte bamie',
 'havijpolo']

In [20]:
rdd2=rdd.filter(lambda x:(x))
rdd2.collect()[19]

'salad'

In [9]:
from pyspark.sql.functions import upper
rdd3=rdd.map(lambda x:x.upper())
rdd3.collect()

['PIZZA',
 'POTATO',
 'FRENCHFRIES',
 'HOTDOG',
 'HAMBURGER',
 'EGG',
 'MASHPOTATO',
 'GHORMESABZI',
 'LOOBIAPOLO',
 'OMLET',
 'SPAGETTY',
 'PASTA',
 'KOOKOOSABZI',
 'CHICKEN',
 'KABAB',
 'SOUP',
 'ASH RESHTE',
 'ZERESHKPOLO',
 'KOOKOOSIBZAMINI',
 'SALAD',
 'NOONPANIR',
 'KHORESHTE KARAFS',
 'KASHK BADEMJOON',
 'SALAD OLVIE',
 'KOTLET',
 'LAZANIA',
 'FISH',
 'SHRIMP',
 'KALAMPOLO',
 'KHORESHTE BAMIE',
 'HAVIJPOLO']

In [10]:
rdd4= rdd.groupBy(lambda x: x[0]).map(lambda x: ([0],list(x[1])))
rdd4.collect()

[([0], ['pizza', 'potato', 'pasta']),
 ([0], ['hotdog', 'hamburger', 'havijpolo']),
 ([0], ['ghormesabzi']),
 ([0], ['loobiapolo', 'lazania']),
 ([0], ['spagetty', 'soup', 'salad', 'salad olvie', 'shrimp']),
 ([0], ['chicken']),
 ([0], ['frenchfries', 'fish']),
 ([0], ['egg']),
 ([0], ['mashpotato']),
 ([0], ['omlet']),
 ([0],
  ['kookoosabzi',
   'kabab',
   'kookoosibzamini',
   'khoreshte karafs',
   'kashk bademjoon',
   'kotlet',
   'kalampolo',
   'khoreshte bamie']),
 ([0], ['ash reshte']),
 ([0], ['zereshkpolo']),
 ([0], ['noonpanir'])]

In [21]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [22]:
import string

filematni= open('/content/drive/My Drive/text1.txt',"r",encoding='utf-8-sig').read()
newtext= filematni.translate(str.maketrans('','',string.punctuation))
tokens=newtext.split()
text_rdd= spark.sparkContext.parallelize(tokens)
counter=text_rdd.map(lambda word:(word,1)).reduceByKey(lambda a,b: a+b).sortBy(lambda x: -x[1]).collect()
counter

[('in', 3),
 ('the', 3),
 ('background', 3),
 ('systems', 2),
 ('image', 2),
 ('is', 2),
 ('to', 2),
 ('data', 2),
 ('urban', 2),
 ('surveillance', 2),
 ('automatic', 2),
 ('subtraction', 2),
 ('Abstract', 1),
 ('Due', 1),
 ('of', 1),
 ('generated', 1),
 ('oriented', 1),
 ('techniques', 1),
 ('are', 1),
 ('demand', 1),
 ('this', 1),
 ('we', 1),
 ('novel', 1),
 ('algorithm', 1),
 ('renew', 1),
 ('an', 1),
 ('as', 1),
 ('new', 1),
 ('when', 1),
 ('no', 1),
 ('detected', 1),
 ('both', 1),
 ('simple', 1),
 ('robust', 1),
 ('conditions', 1),
 ('tremendous', 1),
 ('volume', 1),
 ('by', 1),
 ('big', 1),
 ('lowcomplexity', 1),
 ('great', 1),
 ('In', 1),
 ('paper', 1),
 ('propose', 1),
 ('a', 1),
 ('for', 1),
 ('which', 1),
 ('computer', 1),
 ('can', 1),
 ('automatically', 1),
 ('object', 1),
 ('This', 1),
 ('method', 1),
 ('and', 1),
 ('with', 1),
 ('respect', 1),
 ('changes', 1),
 ('light', 1)]